<div>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Stock</th>
            <th>Precio</th>
            <th>Foto</th>
        </tr>
        <tr>
            <td>{{producto.nombre}}</td>
            <td>{{producto.descripcion}}</td>
            <td>{{producto.stock}}uni</td>
            <td>${{producto.precio}}</td>
            <td><img src={{producto.foto}}></td>
        </tr>
</table>
</div>
<button class="boton"><a href="/">Ver Productos</a></button>
<button class="boton"><a href="/api/carrito">Ir a Carritos</a></button>